#!/usr/bin/make -f

PKG_NAME=md5name

clean:
	dh $@

build:
	dh $@

binary:
	dh --before dh_auto_install binary
	# Install main script
	install -cm 0755 md5name.pl $(CURDIR)/debian/$(PKG_NAME)/opt/daybo/bin/
	dh --remaining binary
